@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #3C88A6, #C1D4D9);
}
main {
    background-color: white; 
    width: 600px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(1, 23, 44, 0.439);
    margin: auto;
    border-radius: 10px;

}
h1 {
    color: #012E40;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(2, 27, 38, 0.494);

}
h2 {
    color: #246B73;
    
    

}

p {
    text-align: justify;
}
